body {
  overflow-x: hidden;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: orange;
  color: aquamarine;
}
.city {
  list-style-type: none;
  min-height: 8vh;
  border-radius: 5px;
  box-shadow: 0 0.5vh 2vh rgba(128, 128, 128, 0.55),
    0 -0.1vh 1vh rgba(128, 128, 128, 0.55);
  line-height: 4vh;
  padding: 1vh;
  padding-bottom: 1.5vh;
  color: rgba(128, 128, 128, 0.75);
  transition: top ease 1s, left ease 1s;
  position: relative;
}
.city:hover {
  top: -1vh;
  left: 1vh;
  cursor: pointer;
}
.city:nth-child(even) {
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

.cityName {
  color: aquamarine;
  line-height: initial;
  font-size: 8vh !important;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
}
.countryName {
  color: black;
  font-size: large;
  line-height: initial;
  font-size: 4vh;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
}
nav {
  background-color: rgba(0, 0, 0, 0.4);
  height: 6vh;
  width: 100%;
  padding-left: 1vw;
  line-height: 6vh;
  box-shadow: 0 0.5vh 2vh aquamarine;
}
input[type="button"] {
  font-family: inherit;
  font-weight: bold;
}
ul {
  padding: 0;
}
#mainContent {
  margin-left: 4vw;
  margin-right: 4vw;
}
.mainCard {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  margin: 8vh auto;
  width: max-content;
  border-radius: 5px;
  box-shadow: 0 0.5vh 2vh aquamarine, 0 -0.1vh 1vh aquamarine;
  padding: 4vh;
}
.rightMainColumn {
  font-size: 20vh;
  line-height: 16vh;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
}
.mainColumnItem {
  text-align: right;
  padding-right: 2vw;
  font-size: 2vh;
}
.forecastContainer {
  display: flex;
  justify-content: space-between;
}
.forecastCard {
  background-color: rgba(0, 0, 0, 0.4);
  min-width: 10%;
  font-size: 2vh;
  padding: 1vh;
  border-radius: 5px;
  box-shadow: 0 0.5vh 2vh aquamarine, 0 -0.1vh 1vh aquamarine;
}
.unitContainer {
  color: aquamarine;
  width: max-content;
  display: inline;
  float: right;
  margin-right: 2vw;
}
.unitContainer a {
  text-decoration: none;
  color: inherit;
}
.alertContainer {
  margin-top: 2vh;
}
.alertCard {
  background-color: rgba(0, 0, 0, 0.4);
  font-family: monospace;
  padding: 1vh;
  border-radius: 5px;
  box-shadow: 0 0.5vh 2vh aquamarine, 0 -0.1vh 1vh aquamarine;
}
.error {
  margin-top: 2vh;
  background-color: pink;
  color: red;
  min-height: max-content;
  font-family: monospace;
  font-weight: bold;
}
